.Rproj.user
.Rhistory
.RData
.Ruserdata


/data             # ignores the folder data
*.csv             # ignores all files that end with .csv
garmin-export.csv # ignores the specific file called garmin-export.csv